In [1]:
import pandas as pd
import requests

import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
from sklearn.preprocessing import MinMaxScaler

response = requests.get('https://pokemondb.net/pokedex/all')

if __name__ == '__main__':
  df = pd.read_html(response.content, flavor='bs4')

  pokedex_850 = df[0]['#'] <= 49
  pokemon = df[0][pokedex_850]

print(pokemon)

     #                    Name          Type  Total  HP  Attack  Defense  \
0    1               Bulbasaur  Grass Poison    318  45      49       49
1    2                 Ivysaur  Grass Poison    405  60      62       63
2    3                Venusaur  Grass Poison    525  80      82       83
3    3  Venusaur Mega Venusaur  Grass Poison    625  80     100      123
4    4              Charmander          Fire    309  39      52       43
..  ..                     ...           ...    ...  ..     ...      ...
58  45               Vileplume  Grass Poison    490  75      80       85
59  46                   Paras     Bug Grass    285  35      70       55
60  47                Parasect     Bug Grass    405  60      95       80
61  48                 Venonat    Bug Poison    305  60      55       50
62  49                Venomoth    Bug Poison    450  70      65       60

    Sp. Atk  Sp. Def  Speed
0        65       65     45
1        80       80     60
2       100      100     80
3       122      120     80
4        60       50     65
..      ...      ...    ...
58      110       90     50
59       45       55     25
60       60       80     30
61       40       55     45
62       90       75     90

[63 rows x 10 columns]

In [6]:
pokemon2 = pokemon[['Name', 'HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed']]

In [7]:
pokemon2

                      Name  HP  Attack  Defense  Sp. Atk  Sp. Def  Speed
0                Bulbasaur  45      49       49       65       65     45
1                  Ivysaur  60      62       63       80       80     60
2                 Venusaur  80      82       83      100      100     80
3   Venusaur Mega Venusaur  80     100      123      122      120     80
4               Charmander  39      52       43       60       50     65
..                     ...  ..     ...      ...      ...      ...    ...
58               Vileplume  75      80       85      110       90     50
59                   Paras  35      70       55       45       55     25
60                Parasect  60      95       80       60       80     30
61                 Venonat  60      55       50       40       55     45
62                Venomoth  70      65       60       90       75     90

[63 rows x 7 columns]

In [5]:
import sqlite3

connection = sqlite3.connect('TugasPythonLanjutan_Hari_14_Fiki Syihab Irawan.db')
cursor = connection.cursor()
print("Database created and Successfully Connected to SQLite")
cursor.close()

Database created and Successfully Connected to SQLite

In [13]:
connection = sqlite3.connect("TugasPythonLanjutan_Hari_14_Fiki Syihab Irawan.db")
create_pokemon_table = '''CREATE TABLE IF NOT EXISTS pokemon (
                             Name TEXT NOT NULL,
                             HP integer NOT NULL,
                             Attack integer NOT NULL,
                             Defense integer NOT NULL,
                             Sp_Atk integer NOT NULL,
                             Sp_Def integer NOT NULL,
                             Speed integer NOT NULL);'''
cursor = connection.cursor()
cursor.execute(create_pokemon_table)
pokemon2.to_sql('pokemon', connection, if_exists='replace', index = False)
connection.commit()
cursor.close()
connection.close()